<div class="max-w-xl pb-12 mx-auto space-y-8 text-xs">
	<p>
		22X is a private fund offering for accredited investors in the United States
		and abroad. Investing is limited by individual country regulations. Please
		contact the team to learn more about the offering.
	</p>
	<p>
		NOTE: THIS TOKEN IS NOT BEING OFFERED BY 500 STARTUPS (OR ANY OF ITS
		AFFILIATED ENTITIES OR FUNDS). 500 STARTUPS DOES NOT ENDORSE AND IS NOT
		INVOLVED IN THE TOKEN OFFERING IN ANY WAY AND UNDER NO CIRCUMSTANCES SHOULD
		SUCH OFFERING BE INTERPRETED AS AN OFFER TO SELL OR A SOLICITATION OF
		INTEREST TO PURCHASE ANY SECURITIES OR INVESTMENT ADVISORY SERVICES BY ANY
		500 STARTUPS ENTITY. 500 STARTUPS HAS NOT VERIFIED ANY OF THE INFORMATION OR
		REPRESENTATIONS CONTAINED HEREIN, AND BY VIEWING THIS WEBPAGE, THE VIEWER
		AGREES THAT 500 STARTUPS BEARS NO LIABILITY FOR ANY MISSTATEMENTS OR
		INACCURACIES CONTAINED HEREIN.
	</p>
	<p>
		This site is not intended to be an offer to sell, or a solicitation of any
		offer to buy, any security or other financial instrument or to invest in the
		token issued by 22X (“22X Token”). The offering of the 22X Token has not
		been registered, qualified, or approved under any securities, futures,
		financial instruments, capital markets, or exchange control legislation,
		regulation, or ordinance of any jurisdiction. In all jurisdictions, any
		offer to sell or solicitation to buy a 22X Token, when made, will be
		directed solely to qualified institutional investors, qualified professional
		investors, and those other sophisticated persons to whom offers and
		solicitation may be made without any licensing, registration, qualification,
		or approval under applicable law. Before you decide to invest in a 22X
		Token, you should carefully read the 22X offering documents and consult with
		your own advisors. An investment in a 22X Token is speculative and involves
		risks, which you should understand prior to making an investment. The
		private placements of 22X Tokens have not been registered under the
		Securities Act of 1933, as amended (the "Securities Act") or any state
		securities laws, and the 22X Tokens are being offered pursuant to an
		exemption from registration provided by Rule 506(c) of Regulation D under
		the Securities Act and in reliance on similar exemptions under applicable
		state laws. An investment in 22X is suitable only for sophisticated,
		well-informed investors, and investors will be required to represent that
		they are accredited investors as such term is defined in Rule 501(a) of
		Regulation under the Securities Act.
	</p>
	<p class="text-xs my-8 max-w-lg mx-auto">
		Acceptance rate source: <a
			href="https://www.forbes.com/sites/paulinaguditch/2017/05/30/get-into-a-top-startup-accelerator/#798d2a47725f"
			class="no-underline text-pickled-bluewood"
			>https://www.forbes.com/sites/paulinaguditch/2017/05/30/get-into-a-top-startup-accelerator/#798d2a47725f</a
		>
	</p>
	<p class="text-sm my-8">Copyright © {new Date().getFullYear()} 22X Fund</p>
</div>
