---

---

<div class="px-8 py-4 text-xs md:py-2 bg-gray-50">
	<div
		class="container flex flex-col items-center justify-center mx-auto space-y-4 md:flex-row md:space-y-0 md:space-x-4"
	>
		<a
			href="https://id.securitize.io/secondary-market/#/assets/22x"
			class="inline-block px-4 py-2 font-bold text-white rounded shadow-sm bg-dodger-blue-light"
			>Become a Shareholder!</a
		>
		<div>
			We are opening up our fund to retail investors! Invest and manage your
			shares on Securitize Markets |
			<a href="https://id.securitize.io/secondary-market/#/assets/22x"
				>Get Started Here…</a
			>
		</div>
	</div>
</div>
